#head
{
    text-align: center;
    text-transform: uppercase;
}
.qwe
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.ses
{
    font-size: 25px;
}
.sess
{
    font-size: 10px;
}